<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.36.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.36.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.36.1" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.36.1.1443" targetFramework="net461" />
  <package id="Manatee.Json" version="10.0.4" targetFramework="net461" />
  <package id="Manatee.Trello" version="3.5.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>